*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom CSS Properties */
:root {
  --ff-primary: 'Roboto', sans-serif;

  --c-bg-light: #d7f2ba;
  --c-bg-dark: #002400;

  --fw-reg: 400;
  --fw-bold: 900;

  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1rem;

  --c-title: #869d7a;
  --c-section: #91785d;
  --c-text: #002400;
  --c-on: #002400;
  --c-off: #9E0606;
}

body {
  background: var(--c-bg-light);
  font-family: var(--ff-primary);
  color: var(--c-text);
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  text-align: center;
}

h2 {
  font-size: var(--fs-h2);
  text-align: center;
}

h3 {
  font-size: var(--fs-h1);
  text-align: center;
}

.title {
  position: relative;
  margin: 0.5rem auto;
  color: var(--c-title);
}

.section {
  color: var(--c-section);
}

.controls {
  position: relative;
  text-align: center;
  margin: 3rem auto;
}

.btn {
  color: var(--c-text);

}

.chart {
  position: relative;
  max-width: 400px;
  height: 300px;
}

.toggle {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

.toggle__input {
  display: none;
}

.toggle__button {
  position: relative;
  display: inline-block;
  margin: 0.5rem;
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  background: var(--c-off);
  border: 1px solid var(--c-off);
  color: white;
  font-weight: var(--fw-bold);
  width: 75px;
  height: 23px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.toggle__button::before {
  position: absolute;
  top: 0.1rem;
  content: "off";
  display: inline-block;
  height: 18px;
  padding: 0 3px;
  background: white;
  color: red;
  transition: all 0.3s ease;
}

/* Combinator to select sibling element span only if checked*/
.toggle__input:checked + .toggle__button {
  background: var(--c-on);
  border: 1px solid var(--c-on);
}

.toggle__input:checked + .toggle__button::before {
    left: 2px;
    content: "on";
    color: var(--c-on);
}

/* larger screens */
@media (min-width: 600px) {
  .chart {
    position: relative;
    margin: 3rem auto;
    max-width: 500px;
  }

}
