.graphStyle {
  /* ChartJS maintainAspectRatio set to false so you can control the height in mobile view*/
  height: 100%;
}

@media (min-width: 600px){
  .graphStyle {
    height: 40vh;
    width: 60vw;
  }
}
